*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f4f4;
}

header{
    background:linear-gradient(90deg,#0099ff,#00d4ff);
    color:white;
    text-align:center;
    padding:30px;
}

header h1{
    font-size:40px;
}

header p{
    margin-top:10px;
    font-size:18px;
}

.container{
    width:90%;
    max-width:1200px;
    margin:40px auto;
}

.cards{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
}

.card{
    background:white;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
    transition:.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.card-content{
    padding:20px;
}

.card-content h2{
    color:#0099ff;
    margin-bottom:10px;
}

.card-content p{
    color:#555;
    line-height:1.5;
}

button{
    width:100%;
    margin-top:15px;
    background:#0099ff;
    color:white;
    border:none;
    padding:12px;
    border-radius:8px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#0077cc;
}

footer{
 background:linear-gradient(90deg,#0099ff,#00d4ff);
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
}

/* ===== Tablet ===== */
@media (max-width:992px){

    .container{
        width:95%;
    }

    .cards{
        grid-template-columns:repeat(2,1fr);
    }

    header h1{
        font-size:32px;
    }
}

/* ===== Celular ===== */
@media (max-width:768px){

    header{
        padding:20px;
    }

    header h1{
        font-size:28px;
    }

    header p{
        font-size:16px;
    }

    .container{
        width:95%;
        margin:20px auto;
    }

    .cards{
        grid-template-columns:1fr;
        gap:20px;
    }

    .card img{
        height:200px;
    }

    .card-content{
        padding:15px;
    }

    .card-content h2{
        font-size:22px;
    }

    .card-content p{
        font-size:15px;
    }
}

/* ===== Celulares pequenos ===== */
@media (max-width:480px){

    header h1{
        font-size:24px;
    }

    header p{
        font-size:14px;
    }

    .card img{
        height:180px;
    }

    .card-content h2{
        font-size:20px;
    }

    .card-content p{
        font-size:14px;
    }

    button{
        font-size:15px;
    }
}




.btn-voltar {
    position: fixed;
    top: 15px;
    left: 15px;
    background: white;
    color: #333;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 10px;
    border-radius: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    z-index: 1000;
}